<div class="container-fluid new-container bg-light">

  <h1>Edit article</h1>
 
  <%= render 'form' %>

  <button class="btn btn-outline-secondary"><%= link_to 'Back', admin_articles_path %></button>
  
</div>