<footer class="c-footer">
  <%= link_to "", "#", class: "c-footer__social-link fab fa-github-square" %>  
  <%= link_to "", "#", class: "c-footer__social-link fab fa-linkedin" %> 
  <h2 class="c-footer__copyright">© Paul Howley 2019 </h2>
</footer>
