<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup" class="c-signup__container" >
  <form action="https://paulhowley.us20.list-manage.com/subscribe/post?u=7e057b0d240a6bc519217de89&amp;id=0f11e79ec6" method="post" id="mc-embedded-subscribe-form" class="c-signup__form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
        <h1 class="c-signup__header" >Sign up for email alerts</h1>
        <input type="email" value="" name="EMAIL" class="c-signup__email" id="mce-EMAIL" placeholder="Email address..." required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7e057b0d240a6bc519217de89_0f11e79ec6" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="o-btn c-signup__btn"></div>
    </div>
  </form>
</div>

<!--End mc_embed_signup-->

<!-- alternative signup form without Mailchimp connection
<div class="c-signup__container">
  <h1 class="c-signup__header">Sign up for email alerts</h1>
  <%= form_for :user, class: "c-signup__form" do |f| %>
    <%= f.text_field :name, class: "c-signup__name", placeholder: "Name..." %> <br />
    <%= f.text_field :email, class: "c-signup__email", placeholder: "E-mail address..." %>
    <%= f.submit "Subscribe", class: "o-btn c-signup__btn" %>
  <% end %>
</div>
-->
