.o-btn {
  border-radius: 2px;
  width: 120px;
  justify-content: center;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: $link-font;
  color:  lightgray;
  cursor: pointer;
  text-shadow: 1px 1px gray;
  box-shadow: 1px  1px gray;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
