.o-btn {
  width: 120px;
  justify-content: center;
  text-decoration: none;
  padding: 5px;
  font-size: 1.2em;
  font-family: $main-text-font;
  height: 40px;
  color: white;
  background-color: $green;
  border: none;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  &:hover {
    background-color: $dark-grey;
    color: $green;
  }
}
