.c-about-languages {
  text-align: center;
  background-color: white;
  border-top: 1px solid $dark_grey;
  border-bottom: 2px solid $dark_grey;
  &__title {
    font-family: $main-text-font;
    font-size: 1.5em;
    margin: 10px;
    color: $dark_grey;
  }
  &__icon {
    height: 30px;
  }
}

.c-about-languages__table, td {
  border-collapse: collapse;
  margin: 0 auto;
}

.c-about-languages__td {
  padding: 5px;
  text-align: left;
  &--text {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    padding: 5px;
    font-family: $main-text-font;
    color: $dark_grey;
  }
}