.c-footer {
  background-color: $dark_grey;
  padding: 5px;
  width: 100vw;
  &__copyright {
    margin-top: 20px;
    margin-left: 15px;
    font-family: $main-text-font;
    color: $green;
  }
}




