.c-intro__container {
  background-image: url("bg-desk.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  height: 1000px;
  margin: 0;
  text-align: center;
}

.c-intro {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  color: white;
  margin-top: 100px;
  text-shadow: 2px 2px 4px #000000;
}
.u-green {
  color: rgb(32, 173, 30);
}
@media only screen and (min-width: $breakpoint-tablet) {
  .c-intro {
    text-align: left;
    margin-left: 100px;
  }
}
@media only screen and (max-width: $breakpoint-tablet) {
  .c-intro__container  { 
    background-image: url("bg-mob.jpg");
    background-repeat: no-repeat;
    background-position:  center;
  }
}

