.c-intro {
  max-width: 200px;
  text-align: left;
  margin: 100px auto;
  &__text {
    justify-content: left;
    font-size: 1.2em;
    font-family: $main-text-font;
    margin-bottom: 10px;
    color: limegreen;
    text-shadow: 1px 1px gray;
  }
  &__heading {
    font-size: 3em;
    font-family: $main-text-font;
    color: gray;
  }
}

@media only screen and (min-width: $breakpoint-tablet) {
  .c-intro {
    margin-left: 100px;
    &__text {
      font-size: 1.5em;
    }
    &__heading {
      font-size: 3.5em;
    }
  }
}



