.c-nav {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: $nav_and_footer;
  &__menu-item--link {
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    font-family: $link-font;
    color: $link-text-color;
    text-shadow: 1px 1px grey;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    &:hover {
      background-color: $link-hover-color;
      color: white;
    }
  }
}