@import "bootstrap";

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-nav > button {
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-nav ul {
  padding: 0;
  margin: 0;
}

.navbar-nav ul li {
  display: inline-block;
  margin-left: 5px;
}

.navbar-nav a {
  margin-left: 10px;
}

.new-container {
  padding: 5px;
}

.flash {
  color: red;
}

.new-article {
  margin-bottom: 10px;
}

